################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/CarRentalSystem/.vs/CarRentalSystem
/CarRentalSystem/CarRentalSystem/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystem/obj
/CarRentalSystem/CarRentalSystemAspects/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystemAspects/obj
/CarRentalSystem/CarRentalSystemEntities/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystemEntities/obj
/CarRentalSystem/CarRentalSystemInterfaces/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystemInterfaces/obj
/CarRentalSystem/CarRentalSystemNUnit/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystemNUnit/obj
/Experiments/bak
/CarRentalSystem/CarRentalSystemModels/bin/Debug/netcoreapp3.1
/CarRentalSystem/CarRentalSystemModels/obj
/CarRentalSystem/.vs
/CarRentalSystem/CarRentalSystemController/obj
